<!DOCTYPE html>          
<html>
<head>
    <meta charset=" utf-8 ">
    <title>Web Server Main Page</title>
</head>
<body>
    <h1>Hello <%= @name %>..!</h1>
    <h2>Hostname :: <%= node['hostname'] %> </h2>
    <h2>IP Address :: <%= node['ipaddress'] %> </h2>
</body>
</html>